@media screen and (min-width: 576px) and (max-width: 768px) {
    .row {
        width: 100%;
        margin: 0 auto;
      }
      img {
        height: 20vw;
        min-height:75px ;
    }
    
      

}
